<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Data Viewer</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>My Spotify Favorites</h1>

    <div id="data-display">
      <h2>Top Tracks</h2>
      <ul id="top-tracks">
        {% for track in top_tracks %}
        <li>{{ track.name }} by {{ track.artists[0].name }}</li>
        {% endfor %}
      </ul>

      <h2>Top Artists</h2>
      <ul id="top-artists">
        {% for artist in top_artists %}
        <li>{{ artist.name }}</li>
        {% endfor %}
      </ul>

      <h2>Your Top Genres</h2>
      <ul id="top-genres">
        {% for genre, count in top_genres %}
        <li>{{ genre }}: {{ count }}</li>
        {% endfor %}
      </ul>
    </div>

    <!--
      <div id="data-display">
      <h2>Top Tracks</h2>
      <ul id="top-tracks"></ul>
      <h2>Top Artists</h2>
      <ul id="top-artists"></ul>
    </div>-->

    <script src="/static/script.js"></script>
  </body>
</html>
